# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\barname nevisi\termProjDS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
